<div class="post">
  <h2 class="entry-title"><a href="/article/${article.name}">${article.title}</a></h2>
  <div class="entry-content">
    {{html content}}
  </div>
  
  <section class="comments">
    {{if config.disqus}}
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="http://disqus.com/forums/${config.disqus}/embed.js"> </script>
      <noscript><a href="http://${config.disqus}.disqus.com/?url=ref">View the discussion thread.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    {{/if}}
  </section>
  
  <dl class="entry-meta">
    <dt>Date Released:</dt>
    <dd class="entry_date"><abbr class="published" title="${article.date}">${article.date}</abbr></dd>
    
    <dt>Author:</dt>
    <dd class="author vcard">${article.author}</dd>
    
    <dt>Categories:</dt>
    <dd class="cat-links">
      <ul class="post-categories">
      {{each(index, category) article.categories}}
        <li>${category}</li>
      {{/each}}
      </ul>
    </dd>
  </dl>
</div>