<!doctype html>
<html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>${context.config.title}</title>
  
  <meta name="description" content="${context.config.description}’">
  <meta name="author" content="${context.config.author}">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="/css/h5b.css">
  <link rel="stylesheet" href="/css/main.css">
  
</head>
<body class="clearfix">
  <div id="header">
    <h1 class="logo"><span><a href="/" title="${context.config.title}" rel="home">${context.config.title}</a></span></h1>
    <ul id="nav">
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/archives" title="Archives">Archives</a></li>
      <li><a href="/about" title="About">About</a></li>
      <li><a href="/test" title="Test">Test</a></li>
    </ul>
    
    <form name="nabe-search" class="nabe-search" action="/search/articles/" method="post">
      <p>
        <input type="search" name="q" autocomplete="off" placeholder="Search" />
      </p>
    </form>
  </div>
  
  <div class="content-loading"><img src="/img/ajax-loader.gif"></div>

  <h2 id="description">${context.config.description}</h2>
    
  <div id="content">
    {{html content}}
  </div>
  
  <div id="footer">
    <p><strong>Sammo</strong>, the <a href="http://sammyjs.org">Sammy</a> buddy</p>
  </div>
  
  <!-- Load in require and our base app -->
  <script data-main="/js/app/main" src="/js/libs/require.js"></script>
    
</body>
</html>